<h1><%= @restaurant.name %></h1>
<p>Type: <%= @restaurant.category %></p>
<p>Address: <%= @restaurant.address %></p>
<p>Phone number: <%= @restaurant.phone_number %></p>

<%= link_to 'Back to list', restaurants_path %>
